$default-font: "amsipro", sans-serif
$accent: #6dc898
$darkblue: #002337
$grey: #66676D



$black: #464646
$blackAlpha: rgba(#000, 0.12)
$lightGray: #cccccc
$gray: #868686
$darkGray: #666666
$red: #e75854
$white: #fafafa
$darkWhite: #eeeeee


$anim: 250ms ease-in-out

$triangleSize: 0.4rem
$triangleRatio: 1.2

$borderRadius: 1rem


$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width




$body-bg: #c1bdba
$form-bg: #13232f
//$white: #ffffff

$main: #1ab188
$main-light: lighten($main,5%)
$main-dark: darken($main,5%)

$gray-light: #a0b3b0
//$gray: #ddd

$_thin: 300
$_normal: 400
$_bold: 600
$_br: 4px